<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Image Text Translator</title>
<link rel="stylesheet" href="na.css">
</head>
<body>
  <h1>Image Text Translator</h1>
  <input type="file" id="imageInput" accept="image/*">
  <button onclick="translateText()">Translate</button>
  <div id="output">Output....</div>

  <script src="https://cdn.jsdelivr.net/npm/tesseract.js@2"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="nt.js"></script>
</body>
</html>
