<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Learn Language</h1>
        <nav>
            <a href="index.html" class="active">Home</a>
            <a href="#">Translate</a>
            <a href="#">Contacts</a>
            <a href="in.html">Login</a>
        </nav>
    </header>
    <div class="container">
        <h1>Jett.<span class="black">ai</span></h1>
        <div id="output"></div>
        <div class="controls">
            <button id="startButton"><span class="inner">Start Speaking</span></button>
            <button id="englishButton"><span class="inner">English Voice</span></button>
            <button id="hindiButton"><span class="inner">Hindi Voice</span></button>
            <button id="spanishButton"><span class="inner">Spanish Voice</span></button>
        </div>
        <div id="history">
            <h2>History</h2>
            <button id="resetButton">Reset History</button>
            <ul id="historyList"></ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
