<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jett.ai</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Logo</h1>
      <nav>
        <a href="#" class="active">Home</a>
        <a href="nf.html">Translate</a>
        <a href="#">Contacts</a>
        <a href="in.html">Login</a>
      </nav>
    </header>

    <section class="home">
      <img src="assets/mount2.png" class="mount2" />
      <img src="assets/mount1.png" class="mount1" />
      <img src="assets/bush2.png" class="bush2" />

      <h1 class="title">Jett.ai</h1>

      <img src="assets/bush1.png" class="bush1" />
      <img src="assets/leaf2.png" class="leaf2" />
      <img src="assets/leaf1.png" class="leaf1" />
    </section>

    <section class="about">
      <h1>Jett.ai</h1>
      <br />
      <p>
        In a world that thrives on global connections, language proficiency has
        become an indispensable skill. However, traditional methods of language
        learning often prove challenging and time-consuming. Enter Jett.AI, a
        groundbreaking platform revolutionizing language education through the
        power of artificial intelligence.
      </p>
      <br />
      Jett.AI leverages cutting-edge AI technology to personalize the language
      learning experience for each user. Upon sign-up, learners are guided
      through a comprehensive assessment to determine their current proficiency
      level, learning style, and goals. Using this data, Jett.AI crafts a
      tailored curriculum designed to optimize learning outcomes. <br />

      <br />One of the key features of Jett.AI is its adaptive learning system. As
      users progress through lessons and exercises, the platform dynamically
      adjusts the difficulty level based on their performance. This ensures that
      learners are continuously challenged without feeling overwhelmed, leading
      to faster skill acquisition and retention.
    </section> 

    <script src="script.js"></script>
  </body>
</html>
